---
import { Image } from "astro:assets";
import ClickableImage from "@components/ClickableImage.svelte";
import type { ImageTuple } from "@types";

interface Props {
    images: ImageTuple[][];
    caption: string | undefined;
    captionMode: "hover" | "below" | undefined;
    clickable: boolean | undefined;
    cols: string;
}

const { images, caption, captionMode, clickable, cols } = Astro.props;
---

<div class={`grid ${cols} gap-2`}>
    {
        images.map((imageColumn: ImageTuple[]) => (
            <div class="flex flex-col gap-2 align-top">
                {imageColumn.map(([src, alt, caption]) =>
                    clickable ? (
                        <ClickableImage
                            caption={caption}
                            captionMode={captionMode}
                            imgSrc={src.src}
                            client:load
                        >
                            <Image
                                src={src}
                                alt={alt}
                                class="h-auto max-w-full"
                            />
                        </ClickableImage>
                    ) : (
                        <div class="h-auto max-w-full">
                            <Image
                                src={src}
                                alt={alt}
                                class="h-auto max-w-full"
                            />
                        </div>
                    )
                )}
            </div>
        ))
    }
</div>
{caption && <em class="flex justify-center">{caption}</em>}
