---
/**
 * A flexible grid of images with the same aspect ratio. If the images provided do not have the same
 * aspect ratio, they will be justified appropriately to maintain an aspect ratio. Images can be
 * `ClickableImage` components, or just regular images. This option is specified using the
 * `clickable` boolean prop.
 */
import { Image } from "astro:assets";
import type { ImageTuple } from "@types";
import ClickableImage from "@components/ClickableImage.svelte";

// provide types for props
interface Props {
    images: ImageTuple[];
    caption: string | undefined;
    clickable: boolean | undefined;
    captionMode: "hover" | "below" | undefined;
    rows: string;
    cols: string;
}

const { images, caption, clickable, captionMode, rows, cols } = Astro.props;
---

<div class={`grid ${cols} ${rows} gap-2`}>
    {
        images.map(([src, alt, caption]) =>
            clickable ? (
                <ClickableImage
                    caption={caption}
                    captionMode={captionMode}
                    imgSrc={src.src}
                    client:load
                >
                    <Image src={src} alt={alt} />
                </ClickableImage>
            ) : (
                <Image src={src} alt={alt} />
            ),
        )
    }
</div>
{caption && <em class="flex justify-center text-center">{caption}</em>}
