---
/**
 * Clickable card providing an image, title, short description, and date of a project from the
 * `posts` content collection. This component is used on the `projects` page (which is the current
 * index of the site) to display information about all projects in the `posts` content collection.
 */
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
interface Props {
    post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<a href={"/posts/" + post.slug}>
    <div
        class="transition ease-in-out card w-full bg-base-100 shadow-xl hover:shadow-2xl hover:-translate-y-1 duration-300 ring-1 ring-base-content/20 h-full group"
    >
        <figure>
            <Image src={post.data.image} alt={post.data.imageAlt} />
        </figure>
        <div class="p-3 card-body">
            <h2
                class="leading-tight text-md font-bold group-hover:text-primary transition ease-in-out duration-300"
            >
                {post.data.title}
            </h2>
            <p class="text-sm">{post.data.description}</p>
            <div class="card-actions justify-end">
                <FormattedDate date={post.data.pubDate} />
            </div>
        </div>
    </div>
</a>
